.header
{
	width: 100%;
	background-color: #fff;
}
.header-content
{
	height: 80px;
	width: 960px;
	margin: 0 auto;
	border: 1px solid red;
}
@media screen and (max-width: 1080px){
    .header-content
	{
		width: 740px;
	}
}
@media screen and (max-width: 768px){
    .header-content
	{
		width: auto;
	}
}