.app
{
	background-color: #fff;
}
.header
{
	width: 100%;
	background-color: #fff;
	border-top: 4px solid #44B549;
}
.header-content
{
	width: 960px;
	height: 80px;
	margin: 0 auto;
}
.login-div
{
	width: 960px;
	height: 460px;
	margin: 0 auto;
}
.the-content
{
	width: 960px;
	height: auto;
	margin: 0 auto;
}
@media screen and (max-width: 1080px){
    .header-content, .login-div, .the-content
	{
		width: 740px;
	}
}
@media screen and (max-width: 768px){
    .header-content, .login-div, .the-content
	{
		width: auto;
	}
}
.banner
{
	background: url(../pic/login_bg.png) no-repeat center center;
	background-color: #090b1a;
}
.login-table
{
	width: 400px;
	min-height: 308px;
	float: right;
	margin-top: 24px;
	padding: 36px 35px;
	border-radius: 2px;
	background-color: #fff;
}
.login-label
{
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	font-family: "Microsoft YaHei";
	padding-bottom: 10px;
}
#do-login
{
	width: 120px;
	height: 38px;
	border-radius: 4px;
}
.login-input input
{
	height: 42px;
	border-radius: 4px;
	box-shadow: inset 0 0 4px rgb(235, 234, 234);
}
.login-input span
{
	height: 42px !important;
	line-height: 42px !important;
}
.role-label
{
	color: #222;
	font-size: 20px;
	font-weight: 400;
	font-family: "Microsoft Yahei";
	font-style: normal;
	margin: 20px 0px;
}
.role-item
{
	border: 1px solid #e7e7eb !important;
	height: 260px;
	margin-right: 10px;
}
.role-user .role-pic
{
	background: url(../pic/login_icons.png) 0 -2229px no-repeat;
}
.role-admin .role-pic
{
	background: url(../pic/login_icons.png) 0 -2319px no-repeat;
}
.role-gold .role-pic
{
	background: url(../pic/login_icons.png) 0 -2409px no-repeat;
}
.role-item .role-pic
{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 40px auto;
}