.header
{
	width: 100%;
	background-color: #fff;
	border-top: 4px solid #44B549;
}
.header-content
{
	height: 80px;
	width: 960px;
	margin: 0 auto;
	border: 1px solid red;
}
@media screen and (max-width: 1080px){
    .header-content
	{
		width: 740px;
	}
}
@media screen and (max-width: 768px){
    .header-content
	{
		width: auto;
	}
}
.banner
{
	background: url(../pic/login_bg.png) no-repeat center center;
}
.login-div
{
	width: 960px;
	height: 460px;
	border: 1px solid green;
}