.skin-blue .main-header .navbar 
{
	background-color: #222 !important;
}
.skin-blue .main-header .logo
{
	background-color: #222 !important;
}
.content-wrapper
{
	background-color: #fff !important;
}
.skin-blue .main-header .logo 
{
	box-shadow: 2px 0 20px #00a65a;
}
.clearfix
{
	*zoom: 1;
}
.clearfix:after
{
	content: "";
	display: block;
	clear: both;
}