.skin-blue .main-header .logo
{
	background-color: #fff !important;
	color: #222 !important;
}
.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a
{
	color: #222 !important;
}
.skin-blue .sidebar a
{
	color: #222 !important;
}
.skin-blue .sidebar-menu>li.header
{
	color: #fff !important;
	background: #3c8dbc !important;
}
.skin-blue .sidebar-menu>li>.treeview-menu
{
	background: #FFFFFF !important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a, .treeview-menu>li:hover>a
{
	color: #222 !important;
	background: #E9E9E9 !important;
}
.skin-blue .sidebar-menu>li:focus>a
{
	color: green !important;
	background: #fff !important;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn
{
	background-color: #fff !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
{
	background-color: #fff !important;
	box-shadow: 0 1px 2px rgba(150,150,150,.3);
}
.skin-blue .sidebar-menu>li.header
{
	background: #E0E0E0;
}
.content-wrapper
{
	background-color: #f6f8f9 !important;
}
.clearfix
{
	*zoom: 1;
}
.clearfix:after
{
	content: "";
	display: block;
	clear: both;
}
.btn-success
{
	background-color: #44b549 !important;
	border-color: #4cae4c !important;
}
.content-body
{
	padding: 0 12px;
}
.content
{
	background-color: #fff !important;
}
.form-control 
{
	border-radius: 4px !important;
}
.form-control:hover
{
	border-color: #66afe9 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
}
.my-boxs
{
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: box;
}
.my-box
{
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	border: 1px solid red;
	margin-right: 2px;
}
.skin-blue .content-header
{
	height: 52px !important;
	color: #3c8dbc;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover
{
	background-color: rgba(0,0,0,0.1) !important;
}
.logo-lg img
{
	width: 50px;
	position: relative;
	top: -2px;
}
.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg
{
	background: #fff !important;
	border-left: 1px solid #eee;
}
.control-sidebar-dark .control-sidebar-heading, .control-sidebar-dark .control-sidebar-subheading
{
	color: #073A5C !important;
	font-family: "Microsoft Yahei" !important;
}
.treeview-menu
{
	padding-left: 20px !important;
}